{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block body %}

    <div class='text-center'>
    {% for season in user.userseason_set.all %}
                <h1>League Name: {{season.league.name}}<h1>
                <p>Your Points: {{season.getTotalPoints}}</p>
                <button type="button" class='btn btn-primary btn-lg mb-5' onclick="window.location.href = '../league/{{season.league.id}}';">Go to league page</button>
            {% endfor %}
    </div>
{% endblock %}
